body {
    --background: linear-gradient(to right, #AAAAAA, #EEEEEE);
    --background-inverted: linear-gradient(to left, #AAAAAA, #EEEEEE);
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    justify-content: space-between;
    min-height: calc(100vh - 64px);
}

header {
    margin-left: 10px;
    height: 64px;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


header a, header a:hover {
    text-decoration: none;
    color: black;
}

p {
    margin: 0;
}

header h1 {
    font-size: 50px;
    margin: 0;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

form p {
    margin: 0;
}

#content {
    background: var(--background);
    padding: 10px;
    width: 100%;
}

#login {
    width: 350px;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: var(--background);
}

.post-in-list {
    background: var(--background-inverted);    
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding: 10px;
}

.post-in-list .score {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
}

.post-in-list .info {
    display: flex;
    flex-direction: column;
}

.post-in-list .info a {
    font-weight: bold;
    font-size: 32px;
    margin: 0;
}

.submitted-by {
    display: flex;
    flex-direction: row;
}

.submitted-by a, .submitted-by p {
    font-size: initial !important;
    font-weight: normal;
    margin-right: 3px;
}

.comment {
    margin-top: 10px;
    padding: 10px;
    background: var(--background-inverted)
}

.comment p {
    font-size: 18px;
}

#comments {
    margin-top: 10px;
}

textarea {
    width: 500px;
    height: 100px;
}

.post-img {
    margin-left: auto;
}

.post-img img {
    max-height: 128px; 
}

.info {
    display: flex;
    flex-direction: column;
}
