body {
    --background: linear-gradient(to right, #AAAAAA, #EEEEEE);
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    justify-content: space-between;
}

#content {
    background: var(--background);
    padding: 10px;
    width: 100%;
}

#login {
    width: 350px;
    min-height: 350px;
    padding: 10px;
    background: var(--background);
}